*.egg-info/
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
data_processed/
*.csv
__pycache__/
.env
.vscode/
data_handling/.DS_Store
data_handling/__pycache__/params.cpython-310.pyc
data_handling/__pycache__/utils.cpython-310.pyc
